.input-group {
    margin-right: 60px !important;
    /* flex: 1; */
}

.panel-body {
    display: flex !important;
    justify-content: flex-start !important;
}

.panel-body .btn {
    width: 7%;
}

.panel .container {
    margin-left: 0px !important;
}

.panel .table {
    width: 96%;
}

a:hover {
    text-decoration: none !important;
    color: red !important;
}